inbas-reporting-tool/profiles/eccairs-uzpln/src/main/java/resources/webapi/xsd2.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ECCAIRS5.Repository.Web.API" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/ECCAIRS5.Repository.Web.API"><xs:import schemaLocation="xsd1.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/><xs:complexType name="ewaResult"><xs:sequence><xs:element minOccurs="0" name="Data" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="ErrorDetails" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="ReturnCode" type="tns:ResultReturnCode"/><xs:element minOccurs="0" name="UserToken" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="ewaResult" nillable="true" type="tns:ewaResult"/><xs:simpleType name="ResultReturnCode"><xs:restriction base="xs:string"><xs:enumeration value="OK"><xs:annotation><xs:appinfo><EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue></xs:appinfo></xs:annotation></xs:enumeration><xs:enumeration value="Error"><xs:annotation><xs:appinfo><EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue></xs:appinfo></xs:annotation></xs:enumeration></xs:restriction></xs:simpleType><xs:element name="ResultReturnCode" nillable="true" type="tns:ResultReturnCode"/></xs:schema>
